#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

.formulario {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.estilosLinks{
  display: flex;
  align-items: center;
  gap: 4px;
}